body {
	font-family:'Quicksand'; 
	margin-top: 50px;
	margin-left: 100px; 
	margin-right: 100px;
}
#title {
	font-size:50px;
	text-align: center;
	color:#657591;
}
#utext {
	height:300px;
	width: 300px;
	font-size: 16px;
	font-family:'Quicksand';
}
#user_input{
	text-align: center;
	width:100%;
}
#result_words {
	text-align: left;
}
#settings {
	text-align: left;
}
#error{
		display:none;
}
textarea{
	resize: none;
}
.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}